body{
    background-color: aquamarine;
    margin: 0;
    padding: 0%;
    width: 100%;
}

#navbar{
    display: flex;
    font-size: 16px;
    background-color:#d5ae7c;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    /*justify-content: space-between;*/
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    z-index:  1;
}
#navbar h5 {
    color: grey;
    font-size: 20px;
    background: radial-gradient(circle, rgba(220,220,220,1) 0%, rgba(212,173,123,1) 100%);
    margin: 0;
    padding: 0;
    padding-top: 0.75rem;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    cursor: pointer;
    transition:color 0.3s ease;
}
#navbar h5:hover{
    color: black;
}
#navbar ul{
    display:flex;
    list-style-type: none;
    gap: 20px;
    
}
#navbar ul a{
    text-decoration: none;
    color:#d5ae7c;
    transition:background-color 0.3s ease;
    padding:3px;
}
#navbar ul a:hover{
    background-color: aliceblue;
    border-radius: 5px;
}

#welcome-section{
    margin: 0px;
    height: 90vh;
    background-color: antiquewhite;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2017/07/11/19/41/yellowstone-2494789_960_720.jpg);
    background-size: cover;
    background-position:center ;
}

#welcome-section h4{
    padding: 0px;
    margin: 0px;
    color: transparent;
    text-align: center;
    word-spacing: 20px;
    position: absolute;
    top: 0px;
    opacity: 1;
    font-size: 22px;
    overflow: hidden;
}
#welcome-section h4 #glow-hover:hover{
    color: white;
    opacity: 1;    
}
#welcome-section h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: fit-content;
    text-align: center;
    top:45%;
    position: relative;
    margin: 0 auto;
    font-size: 3.5rem;
    z-index: 1;
}

.split{
    background-color: black;
    width:100vw;
    height:1rem;
}
#projects{
    display: flex;
    background-color: tan;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(	https://images.pexels.com/photos/1590549/pexels-photo-1590549.jpeg);
    background-size: cover;
}

.project-tile{
    margin-top: 20px;
    margin-left: 12px;
    border-radius: 10%;
    background-color:bisque;
    padding-bottom:12px;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 25%;
    height: 150px;
    display: grid;
    place-items: center;
    transition: 0.4s;
}
.project-tile:hover{
    color:bisque;
    font-size: 20px;
}
.tiramisu-img-bg{
    background-size:cover;
    background-image: url(https://img.freepik.com/free-photo/layered-chocola…mascarpone-cream-generated-by-ai_188544-18033.jpg);
}
.baklava-img-bg{
    background-image: url(	https://cdn.pixabay.com/photo/2016/10/21/22/22/baklava-1759329_1280.jpg);
    background-size: cover;
}
.macaroon-img-bg{
    background-size: contain;
    background-image: url(https://cdn.pixabay.com/photo/2015/04/20/17/00/pastry-731823_960_720.jpg);
    background-position: center;
}
.brownies-img-bg{
    background-size: cover;
    background-position: center ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(https://cdn.pixabay.com/photo/2021/09/16/20/45/brownies-6631040_960_720.jpg);
}
.croissant-img-bg{
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2021/02/05/14/26/food-5984743_640.jpg);
    background-position: center;
}
.apple-pie-img-bg{
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2023/07/16/02/44/ai-generated-8129967_640.png);
    background-position: top;
    color: grey;
}
.tile-button{
    background-color: azure;
    border: none;
    color:tan;
    padding: 10px 20px;
    display: inline-block;
    font-size: 13px;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.tile-button:hover{
    background-color: black;
}

