body{
    background-color: aquamarine;
}
div{
    border-color: aqua;
    border-radius: 20%;
    box-sizing: border-box;
    box-shadow: 20%;
    background-color: aqua;
}
#navbar{
    top:0%;
    position:fixed;
}
@media (max-width: 992px) {
  body {
    background-color: tan;
  }
}